<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <header>
            <h1 class="logo item-start">
                WiiUMC
            </h1>
            <div>
                <p>WiiUMC es un reproductor de musica customizado para la consola WiiU</p>
                <p><b>&copy; Carlos Núñez</b></p>

                <nav><ul>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Musica</a></li>
                </ul></nav>
            </div>

    </header>
    <div class="app container" id="app"></div>
    <div id="quitarVideo" class="container">Cerrar reproductor</div>
    <div id="videoZone" class="container"></div>
    <script src="/media.js"></script>
    <script src="javascript/application.js"></script>
    <script src="javascript/script.js"></script>
</body>
</html>

