<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <header>
            <h1 class="logo item-start">
                WiiUMC
            </h1>
            <div>
                <p>WiiUMC es un reproductor de musica customizado para la consola WiiU</p>
                <p><b>&copy; Carlos Núñez</b></p>
            </div>

    </header>
    <div class="app container" id="app">
        <p style="text-align: center; padding: 205px; font-weight: 700;">Ingresa en tu WiiU a la ruta de tu PC y disfruta de tu multimedia <br/> <%= ip %> </p>
    </div>
</body>
</html>

