<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= file.name  %> </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1 class="logo item-start">
            <%= file.name %> 
        </h1>
    </header>
    <div class="container">
        <a href="/"><div id="quitarVideo" class="item">Regresar</div></a>
        <video src="<%= file.ubication %>" controls autoplay></video>
    </div>
</body>
</html>