*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item:hover{
    transition: ease all .3s;
    background: rgb(255,148,0);
    color: #ffffff;
}
body{
  background: #2d2d2d;
  color: #fff;
}
.container{
    max-width: 90%;
    margin:auto;
    display: --webkit-inline-block;
}

header{ 
    align-items: center;
    background: #ffffff;
    color: #ffffff;
    overflow: hidden;
    text-align: center;

    padding: 35px;
    margin-bottom: 15px;

    /*--Degradados--*/
    background: rgb(255,148,0);
    background: -moz-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: -webkit-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9400",endColorstr="#ff6e56",GradientType=1); 
}

nav{
    display: table-column;
}
a{
    color: currentColor;
    text-decoration: none;
}
li{
    list-style: none;
}
.item-end{
    float: right;
}

.item{
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 5px;
    padding: 15px;
    display: inline-block;
    width: 22%;
    height:200px;
    max-height: 200px;
    overflow: hidden;
  }
#quitarVideo{
    text-align: end;
    padding: 15px;
    color: #fff;
    background-color: rgba(255,148,0,1);
}
video{
    margin-top: 15px;
    width: 100%;
}


menu{
    /*--Degradados--*/
    background: rgb(255,148,0);
    background: -moz-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: -webkit-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9400",endColorstr="#ff6e56",GradientType=1); 
    color:#fff;
    font-weight: 700;
    position: static;
    top: 0%;
    left: 0;
    width: 100%;
}

menu li {
    width: 24%;
    padding: 25px 0px;
    text-align: center;
    display: inline-block;
}


/*
*   Esta parte es para la ruta de las capturas de pantalla
*/

.btn{
    padding: 15px 25px;
    color: #fff;
    background-color: rgba(255,110,86,1);
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

input{
    padding: 15px;
    border-radius: 5px;
    border: none;
    width: 87.2%;
}
form{
    padding: 25px 0;
}
.btn.search{
    width: 10%;
    padding: 15px;
}

/*
*   Develop Section
*/

#dev{
     /*--Degradados--*/
     background: rgb(255,148,0);
     background: -moz-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
     background: -webkit-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
     background: linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
         background-position-x: 0%;
         background-position-y: 0%;
         background-repeat: repeat;
         background-attachment: scroll;
         background-size: auto;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9400",endColorstr="#ff6e56",GradientType=1);
     background-repeat: no-repeat;
     background-size: cover;border: #FF3D00 1px solid;
    border-radius: 15px;
     background-position: center;
     background-attachment: fixed;
}

#dev header{
    background: none;
}

#dev menu{
    background: none;
}

.grid-btn{
    width: 10%;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 15px 0 0 15px;
}

.btn:hover{
    cursor: pointer;
}

#form {
    color: #ffffff;
    border-radius: 10px;
    display: -webkit-flex;
    -webkit-align-content: center;
    -webkit-justify-content: center;
    padding: 35px;
    /*--Degradados--*/
    background: rgb(255,148,0);
    background: -moz-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: -webkit-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9400",endColorstr="#ff6e56",GradientType=1);
}

#form input{
    width: 100%;
    margin-left: 30px;
    display: none;
}

#postIt{
    text-align: center;
    margin-top: 10%;
}
#postIt p{
    font-weight: bold;
    font-size: 40px;
}

.fullScreen{
    /*--Degradados--*/
    background: rgb(255,148,0);
    background: -moz-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: -webkit-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9400",endColorstr="#ff6e56",GradientType=1);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-position: center;
    background-attachment: fixed;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.fullScreen header{
    background: none;
}
.fullScreen form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fullScreen input[type="text"]{
    background: #FF3D00;
    color: #fff;
    font-weight: 700;
    width: 35%;
    margin-right: 5px;
}

.item img{
  width: 100%;
  max-heigth: 159px;
/*  height: 75%;*/
  display: block;
}
