*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item:hover{
    transform: scale(1.05);
}
.container{
    max-width: 90%;
    margin:auto;
}

header{ 
    align-items: center;
    background: #ffffff;
    color: #ffffff;
    overflow: hidden;
    text-align: center;

    padding: 35px;
    margin-bottom: 15px;

    /*--Degradados--*/
    background: rgb(255,148,0);
    background: -moz-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: -webkit-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9400",endColorstr="#ff6e56",GradientType=1); 
}

nav{
    display: table-column;
}
a{
    color: currentColor;
    text-decoration: none;
}
li{
    list-style: none;
}
.item-end{
    float: right;
    margin-left: 15px;
}

.item{
    background-color: #aaaaaa;
    border: 1px #e0e0ee solid;
    margin-bottom: 5px;
    padding: 15px;
}
#quitarVideo{
    text-align: end;
    padding: 15px;
    color: #fff;
    background-color: rgba(255,148,0,1);
}
video{
    margin-top: 15px;
    width: 100%;
}


menu{
    /*--Degradados--*/
    background: rgb(255,148,0);
    background: -moz-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: -webkit-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    background: linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9400",endColorstr="#ff6e56",GradientType=1); 
    color:#fff;
    font-weight: 700;
    position: static;
    top: 0%;
    left: 0;
    width: 100%;
}

menu li {
    width: 24%;
    padding: 25px 0px;
    text-align: center;
    display: inline-block;
}


/*
*   Esta parte es para la ruta de las capturas de pantalla
*/

.btn{
    padding: 15px 25px;
    color: #fff;
    background-color: rgba(255,148,0,1);
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

form{
    border: 1px solid #aaaaaa;
    padding: 35px;
    border-radius: 5px;
}

/*
*   Develop Section
*/

#dev{
     /*--Degradados--*/
     background: rgb(255,148,0);
     background: -moz-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
     background: -webkit-linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
     background: linear-gradient(128deg, rgba(255,148,0,1) 0%, rgba(255,110,86,1) 100%);
         background-position-x: 0%;
         background-position-y: 0%;
         background-repeat: repeat;
         background-attachment: scroll;
         background-size: auto;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9400",endColorstr="#ff6e56",GradientType=1);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
}

#dev header{
    background: none;
}

#dev menu{
    background: none;
}